.widget {
  .products-menu {
      display: table;
  }
  .products-menu-item {
      display: table-cell;
  }
  .products-menu-item:hover {
      background-color: #fafafa;
      cursor: pointer;
      /*border: 1px solid #000000;*/
  }
  .products-menu-item.disabled:hover {
      opacity: .5;
  }
  h3.item-title {
      text-align: center;
  }
}
