@import "variables";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "choice";

.widget {
  width: 100%;
  padding: 0;
  margin: 0;

  .top-menu {
    display: block;
    width: 100%;
    background-color: $greyColor;
    padding: 20px 10px;
  }

  .left-block {
    display: block;
    width: 20%;
  }
}